<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    
    <servlet>
        <servlet-name>ManajemenObatServlet</servlet-name>
        <servlet-class>dev.enep.sms3_pbo_spo.controllers.ManajemenObatServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ObatServlet</servlet-name>
        <servlet-class>dev.enep.sms3_pbo_spo.controllers.ObatServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>KategoriObatServlet</servlet-name>
        <servlet-class>dev.enep.sms3_pbo_spo.controllers.KategoriObatServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ManajemenObatServlet</servlet-name>
        <url-pattern>/ManajemenObatServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ObatServlet</servlet-name>
        <url-pattern>/ObatServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>KategoriObatServlet</servlet-name>
        <url-pattern>/KategoriObatServlet</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
</web-app>
